/* Custom HEADER component styles */

.header {
  background-color: #e0dfdf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  padding: 0;
}

.header__logo__image {
  height: 2em;
  vertical-align: middle;
}

.main-menu__header {
  display: none;
}

.main-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu__list__item {
  display: inline-block;
  padding: 0 1.4em 0 0;
}

.header__brand {
  display: flex;
  flex-direction: row;
}

.header__menu {
  display: flex;
  flex-direction: row;
}

.header__user {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
