<header class="header ui-fluid">
	<p-menubar [model]="menuService.mainMenu">
		<ng-template pTemplate="start">
			<h1 role="banner" class="header__logo">
				<a class="header__logo__link" routerLink="home">
					<img src="../../../../assets/images/logo.svg" alt="Logo">
				</a>
			</h1>
		</ng-template>
		<!-- <div class="language">
			<span class="lang" *ngFor="let lang of languageService.getLanguages(); let last = last">
				<a *ngIf="lang != languageService.getCurrentLanguage(); else activeLang"
					(click)="languageService.setLanguage(lang)" [routerLink]="[]">{{ lang }}</a>
				<ng-template #activeLang>
					{{ lang }}
				</ng-template>
				<span *ngIf="!last"> | </span>
			</span>
		</div> -->
	</p-menubar>
</header>
